.version.index /* version checker */
{
	color: #00001A;
	background-color: #683AD1;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 2244.600000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -110px;
	width: 0.01px;
}

#pslideshowu1216
{
	width: 0.01px;
	margin-left: -110px;
}

#slideshowu1216
{
	z-index: 90;
	width: 0.01px;
	height: 390px;
	position: relative;
	margin-right: -10000px;
	margin-top: 260px;
	left: 10px;
}

#u1217
{
	position: absolute;
	width: 1180px;
	height: 390px;
	background-color: transparent;
}

#u1217popup
{
	z-index: 91;
}

#u4306
{
	z-index: 92;
	width: 1180px;
	height: 390px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1564
{
	z-index: 94;
	width: 1180px;
	height: 390px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1222
{
	z-index: 96;
	width: 1180px;
	height: 390px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1238
{
	position: absolute;
	width: 877px;
	background-color: transparent;
	top: 60px;
	left: 110px;
}

#u1238popup
{
	z-index: 98;
}

#u4312-3
{
	z-index: 99;
	width: 857px;
	min-height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #FFFFFF;
	line-height: 50px;
	font-size: 36px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1570-4
{
	z-index: 102;
	width: 857px;
	min-height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #3B455D;
	line-height: 42px;
	font-size: 30px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1239-3
{
	z-index: 106;
	width: 857px;
	min-height: 188px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #000000;
	line-height: 42px;
	font-size: 30px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-right: -10000px;
	position: relative;
}

#u1232-3
{
	position: absolute;
	width: 38px;
	min-height: 41px;
	border-style: none;
	border-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 329px;
	background: transparent url("../images/leftarrow.png") no-repeat center center;
}

#u1232-3popup
{
	z-index: 109;
}

#u1235-3
{
	position: absolute;
	width: 50px;
	min-height: 47px;
	border-style: none;
	border-color: transparent;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 323px;
	left: 1110px;
	background: transparent url("../images/rightarrow.png") no-repeat center center;
}

#u1235-3popup
{
	z-index: 112;
}

#u1235
{
	visibility: hidden;/* 100% transparent text is hidden */
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u4393-3
{
	z-index: 115;
	min-height: 21px;
	border-style: none;
	border-color: transparent;
	background: #4581B5 url("../images/light-blue-textured-background2.jpg") repeat left top;
}

#u4393-3-bw
{
	z-index: 115;
	min-height: 21px;
	margin-top: 239px;
}

#u1243-4
{
	z-index: 118;
	width: 438px;
	min-height: 51px;
	background-color: transparent;
	line-height: 41px;
	font-size: 34px;
	text-align: right;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 644px;
}

#u1212
{
	z-index: 134;
	width: 588px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#menuu3881
{
	z-index: 144;
	width: 587px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 594px;
}

#u3882
{
	width: 89px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3883
{
	width: 89px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u3883.MuseMenuActive
{
	background-color: transparent;
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u3885-4
{
	width: 59px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #4581B5;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 15px;
}

#u3883:hover #u3885-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u3883:active #u3885-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u3883.MuseMenuActive #u3885-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u3903
{
	width: 123px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#u3904
{
	width: 123px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u3904:hover
{
	background-color: #E6E6E6;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u3904:active
{
	background-color: #6B6B6B;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u3904.MuseMenuActive
{
	background-color: transparent;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u3905-4
{
	width: 79px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #4581B5;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 15px;
}

#u3904:hover #u3905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u3904:active #u3905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u3904.MuseMenuActive #u3905-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u3906
{
	z-index: 157;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
	left: 94px;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u3904:hover #u3906
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3904:active #u3906
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3904.MuseMenuActive #u3906
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3908
{
	width: 125px;
	background-color: transparent;
	top: 57px;
}

#u3925
{
	width: 123px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u3926-4
{
	width: 50px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	text-align: center;
	color: #4581B5;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 32px;
}

#u3925:hover #u3926-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3925.MuseMenuActive #u3926-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3932
{
	width: 123px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u3934-4
{
	width: 57px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	color: #4581B5;
	font-size: 14px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 29px;
}

#u3932:hover #u3934-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u3932.MuseMenuActive #u3934-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 57px;
	margin: 0px -10000px 0px 0px;
}

#u3909,#u3924,#u3931,#u3917
{
	width: 125px;
	background-color: transparent;
	position: relative;
}

#u3918
{
	width: 123px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
}

#u3925:hover,#u3932:hover,#u3918:hover
{
	background-color: #AAAAAA;
	width: 123px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3921-4
{
	width: 94px;
	min-height: 17px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	text-align: center;
	color: #4581B5;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 10px;
}

#u3918:hover #u3921-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3918.MuseMenuActive #u3921-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u3938
{
	width: 148px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u3939
{
	width: 148px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u3939:hover
{
	background-color: #E6E6E6;
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u3939:active
{
	background-color: #6B6B6B;
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u3941-4
{
	width: 118px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #4581B5;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 15px;
}

#u3939:hover #u3941-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u3939:active #u3941-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u3939.MuseMenuActive #u3941-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u3889
{
	width: 100px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 366px;
}

#u3892
{
	width: 100px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u3892:hover
{
	background-color: #E6E6E6;
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u3892:active
{
	background-color: #6B6B6B;
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u3893-4
{
	width: 70px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #4581B5;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 15px;
}

#u3892:hover #u3893-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u3892:active #u3893-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u3892.MuseMenuActive #u3893-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u3896
{
	width: 119px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 468px;
}

#u3897
{
	width: 119px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u3897:hover
{
	background-color: #E6E6E6;
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u3897:active
{
	background-color: #6B6B6B;
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u3900-4
{
	width: 89px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #4581B5;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 15px;
}

#u3897:hover #u3900-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u3897:active #u3900-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u3897.MuseMenuActive #u3900-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u3883.MuseMenuActive #u3885-4 p,#u3904.MuseMenuActive #u3905-4 p,#u3939.MuseMenuActive #u3941-4 p,#u3892.MuseMenuActive #u3893-4 p,#u3897.MuseMenuActive #u3900-4 p
{
	color: #4581B5;
	visibility: inherit;
	font-size: 21px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u3831-4
{
	z-index: 3;
	width: 505px;
	min-height: 61px;
	background-color: transparent;
	color: #4581B5;
	line-height: 43px;
	font-size: 36px;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 238px;
	margin-top: 31px;
	position: relative;
}

#u3836
{
	z-index: 69;
	width: 940px;
	height: 2px;
	background-color: #F2F2F2;
	margin-left: 20px;
	position: relative;
}

#pu1175
{
	width: 0.01px;
	margin-left: 22px;
	margin-top: 29px;
}

#u1175
{
	z-index: 122;
	width: 280px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u1181
{
	z-index: 124;
	width: 279px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 317px;
}

#u1179
{
	z-index: 126;
	width: 284px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 632px;
}

#pu3840-8
{
	width: 0.01px;
	margin-left: 23px;
	margin-top: -2px;
}

#u3840-8
{
	z-index: 136;
	width: 279px;
	min-height: 106px;
	background-color: transparent;
	color: #7F7F7F;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3947-6
{
	z-index: 196;
	width: 279px;
	min-height: 102px;
	background-color: transparent;
	color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 316px;
}

#u3947-2,#u3947-3
{
	font-family: coda, sans-serif;
	font-weight: 400;
}

#u3948-6
{
	z-index: 202;
	width: 284px;
	min-height: 102px;
	background-color: transparent;
	color: #7F7F7F;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 631px;
}

#pu1177
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 10px;
}

#u1177
{
	z-index: 130;
	width: 284px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1173
{
	z-index: 128;
	width: 284px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 321px;
}

#u1214
{
	z-index: 132;
	width: 284px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 636px;
}

#pu3949-6
{
	width: 0.01px;
	margin-left: 18px;
}

#u3949-6
{
	z-index: 208;
	width: 284px;
	min-height: 124px;
	background-color: transparent;
	color: #7F7F7F;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u3950-6
{
	z-index: 214;
	width: 281px;
	min-height: 112px;
	background-color: transparent;
	color: #7F7F7F;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 321px;
}

#u3951-6
{
	z-index: 220;
	width: 284px;
	min-height: 138px;
	background-color: transparent;
	color: #7F7F7F;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 636px;
}

#pu1131
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -4px;
}

#u1131
{
	z-index: 70;
	min-height: 169px;
	background: #F15A24 url("../images/light-blue-textured-background22.jpg") repeat left top;
}

#u1131_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	position: relative;
	left: -100px;
}

#u1268
{
	z-index: 73;
	width: 97px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 232px;
}

#u1277-4
{
	z-index: 77;
	width: 57px;
	min-height: 40px;
	background-color: transparent;
	font-size: 72px;
	color: #FFFFFF;
	line-height: 86px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 418px;
}

#u1278
{
	z-index: 71;
	width: 169px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 503px;
}

#u1284-4
{
	z-index: 81;
	width: 78px;
	min-height: 54px;
	background-color: transparent;
	font-size: 72px;
	color: #FFFFFF;
	line-height: 86px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 735px;
}

#u1285-5
{
	z-index: 85;
	width: 240px;
	min-height: 111px;
	background-color: transparent;
	font-size: 78px;
	color: #FFFFFF;
	line-height: 94px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 818px;
}

#u1285-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1285
{
	line-height: 94px;
}

#u1285-2
{
	font-size: 67px;
	line-height: 80px;
}

#u1131-bw
{
	z-index: 70;
	min-height: 169px;
}

#u1274
{
	z-index: 75;
	width: 97px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 292px;
}

#u1140-4
{
	z-index: 16;
	width: 941px;
	min-height: 50px;
	background-color: transparent;
	font-size: 30px;
	letter-spacing: 5px;
	text-transform: uppercase;
	line-height: 36px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 18px;
	margin-top: 22px;
	position: relative;
}

#u1152
{
	z-index: 15;
	width: 940px;
	height: 2px;
	background-color: #F2F2F2;
	margin-left: 8px;
	margin-top: 7px;
	position: relative;
}

#ppu1149-4
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 24px;
}

#pu1149-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 26px;
}

#u1149-4
{
	z-index: 53;
	width: 71px;
	min-height: 66px;
	background-color: #7F7F7F;
	padding-top: 4px;
	color: #FFFFFF;
	line-height: 58px;
	font-size: 48px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1148-4
{
	z-index: 61;
	width: 71px;
	min-height: 66px;
	background-color: #7F7F7F;
	padding-top: 4px;
	color: #FFFFFF;
	line-height: 58px;
	font-size: 48px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 40px;
	position: relative;
}

#pu1146-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 85px;
}

#u1146-4
{
	z-index: 40;
	width: 268px;
	min-height: 28px;
	background-color: transparent;
	font-size: 17px;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 20px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1144-4
{
	z-index: 20;
	width: 268px;
	min-height: 53px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 13px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1138-4
{
	z-index: 44;
	width: 268px;
	min-height: 28px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 20px;
	font-size: 17px;
	letter-spacing: 2px;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 4px;
	margin-top: 21px;
	position: relative;
}

#u1143-4
{
	z-index: 28;
	width: 268px;
	min-height: 53px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 13px;
	text-align: left;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
}

#u1142
{
	z-index: 52;
	width: 192px;
	height: 192px;
	border-color: #7BAEBE;
	position: relative;
	margin-right: -10000px;
	left: 374px;
	background: transparent url("../images/010c25e259a68015e7c880c398c25d56c83588d2e8.jpg") no-repeat center bottom;
	background-size: cover;
}

#u1142:hover
{
	width: 192px;
	height: 192px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #000000 url("../images/010c25e259a68015e7c880c398c25d56c83588d2e8.jpg") no-repeat center bottom;
	background-size: cover;
}

#pu1147-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 576px;
}

#u1147-4
{
	z-index: 36;
	width: 268px;
	min-height: 28px;
	background-color: transparent;
	font-size: 17px;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 20px;
	text-align: right;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 14px;
	position: relative;
}

#u1151-4
{
	z-index: 24;
	width: 280px;
	min-height: 53px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 13px;
	text-align: right;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1137-4
{
	z-index: 48;
	width: 280px;
	min-height: 28px;
	background-color: transparent;
	font-size: 17px;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 20px;
	text-align: right;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 21px;
	position: relative;
}

#u1150-4
{
	z-index: 32;
	width: 280px;
	min-height: 53px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 22px;
	font-size: 13px;
	text-align: right;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 2px;
	position: relative;
}

#pu1141-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 26px;
	margin-left: 870px;
}

#u1141-4
{
	z-index: 57;
	width: 71px;
	min-height: 66px;
	background-color: #7F7F7F;
	padding-top: 4px;
	color: #FFFFFF;
	line-height: 58px;
	font-size: 48px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1139-4
{
	z-index: 65;
	width: 71px;
	min-height: 66px;
	background-color: #7F7F7F;
	padding-top: 4px;
	color: #FFFFFF;
	line-height: 58px;
	font-size: 48px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-top: 33px;
	position: relative;
}

#u1145-8
{
	z-index: 7;
	width: 787px;
	min-height: 145px;
	background-color: transparent;
	color: #7F7F7F;
	line-height: 24px;
	text-align: center;
	font-family: coda, sans-serif;
	font-weight: 400;
	margin-left: 67px;
	margin-top: 16px;
	position: relative;
}

#u1170
{
	z-index: 2;
	height: 180px;
	background: #F15A24 url("../images/light-blue-textured-background22.jpg") repeat left top;
}

#u1170-bw
{
	z-index: 2;
	margin-top: 16px;
	height: 180px;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

