.version.services /* version checker */
{
	color: #0000F9;
	background-color: #89EC64;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 1920px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -110px;
	width: 0.01px;
}

#pu1945
{
	width: 0.01px;
	margin-left: -110px;
}

#u1945
{
	z-index: 5;
	height: 21px;
	border-style: none;
	border-color: transparent;
	background: #4581B5 url("../images/light-blue-textured-background2.jpg") repeat left top;
}

#u1945-bw
{
	z-index: 5;
	margin-top: 239px;
	height: 21px;
}

#u1944-4
{
	z-index: 6;
	width: 438px;
	min-height: 51px;
	background-color: transparent;
	line-height: 41px;
	font-size: 34px;
	text-align: right;
	font-family: coda, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 644px;
}

#u1950
{
	z-index: 10;
	width: 588px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#menuu1952
{
	z-index: 12;
	width: 587px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 588px;
}

#u1967
{
	width: 89px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1970
{
	width: 89px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u1970:hover
{
	background-color: #E6E6E6;
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u1970:active
{
	background-color: #6B6B6B;
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u1972-4
{
	width: 59px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #4581B5;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 15px;
}

#u1970:hover #u1972-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u1970:active #u1972-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u1970.MuseMenuActive #u1972-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u2950
{
	width: 123px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#u2953
{
	width: 123px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u2953:hover
{
	background-color: #E6E6E6;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u2953:active
{
	background-color: #6B6B6B;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u2953.MuseMenuActive
{
	background-color: transparent;
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u2955-4
{
	width: 79px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #4581B5;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 15px;
}

#u2953:hover #u2955-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u2953:active #u2955-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u2953.MuseMenuActive #u2955-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u2954
{
	z-index: 25;
	width: 14px;
	height: 14px;
	position: relative;
	margin-right: -10000px;
	top: 21px;
	left: 94px;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u2953:hover #u2954
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2953:active #u2954
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2953.MuseMenuActive #u2954
{
	background-repeat: no-repeat;
	background-position: center center;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u2951
{
	width: 120px;
	background-color: transparent;
	top: 57px;
}

#u3108
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3109-4
{
	width: 36px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 37px;
}

#u3108:hover #u3109-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u3108.MuseMenuActive #u3109-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 36px;
	margin: 0px -10000px 0px 0px;
}

#u3019
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3021-4
{
	width: 42px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 34px;
}

#u3019:hover #u3021-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u3019.MuseMenuActive #u3021-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u2952,#u3105,#u3018,#u3168
{
	width: 120px;
	background-color: transparent;
	position: relative;
}

#u3171
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u3108:hover,#u3019:hover,#u3171:hover
{
	background-color: #AAAAAA;
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3172-4
{
	width: 70px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 20px;
}

#u3171:hover #u3172-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u3171.MuseMenuActive #u3172-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u3322
{
	width: 148px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 216px;
}

#u3353
{
	width: 148px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u3353:hover
{
	background-color: #E6E6E6;
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u3353:active
{
	background-color: #6B6B6B;
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u3355-4
{
	width: 118px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #4581B5;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 15px;
}

#u3353:hover #u3355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u3353:active #u3355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u3353.MuseMenuActive #u3355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u3609
{
	width: 100px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 366px;
}

#u3612
{
	width: 100px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u3612:hover
{
	background-color: #E6E6E6;
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u3612:active
{
	background-color: #6B6B6B;
	width: 100px;
	min-height: 0px;
	margin: 0px;
}

#u3613-4
{
	width: 70px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #4581B5;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 15px;
}

#u3612:hover #u3613-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u3612:active #u3613-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u3612.MuseMenuActive #u3613-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 70px;
	margin: 0px -10000px 0px 0px;
}

#u3672
{
	width: 119px;
	min-height: 57px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 468px;
}

#u3673
{
	width: 119px;
	background-color: transparent;
	padding-bottom: 32px;
	position: relative;
}

#u3673:hover
{
	background-color: #E6E6E6;
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u3673:active
{
	background-color: #6B6B6B;
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u3675-4
{
	width: 89px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #4581B5;
	line-height: 25px;
	font-size: 21px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 15px;
}

#u3673:hover #u3675-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u3673:active #u3675-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u3673.MuseMenuActive #u3675-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u1970.MuseMenuActive #u1972-4 p,#u2953.MuseMenuActive #u2955-4 p,#u3353.MuseMenuActive #u3355-4 p,#u3612.MuseMenuActive #u3613-4 p,#u3673.MuseMenuActive #u3675-4 p
{
	color: #4581B5;
	visibility: inherit;
	font-size: 21px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u2060
{
	z-index: 4;
	height: 150px;
	background: #F15A24 url("../images/light-blue-textured-background22.jpg") repeat left top;
}

#u2060-bw
{
	z-index: 4;
	margin-top: 1194px;
	height: 150px;
}

#u1922
{
	z-index: 3;
	width: 940px;
	height: 2px;
	background-color: #F2F2F2;
	margin-left: 8px;
	margin-top: 74px;
	position: relative;
}

#u1941
{
	z-index: 2;
	height: 180px;
	background: #F15A24 url("../images/light-blue-textured-background22.jpg") repeat left top;
}

#u1941-bw
{
	z-index: 2;
	margin-top: 136px;
	height: 180px;
}

body
{
	position: relative;
	min-width: 980px;
}

#page .verticalspacer
{
	clear: both;
}

